backend-jumbo-jcldev/RewardsService/src/main/resources/bonus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSCDCen" targetNamespace="AppBonus"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="AppBonus"
    xmlns:wsdlns="AppBonus"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <schema targetNamespace="AppBonus" elementFormDefault="qualified"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
            <element name="WSCDCen.Execute">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="Comercio" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="Tipdoccod" type="xsd:short"/>
                        <element minOccurs="1" maxOccurs="1" name="Prsnrodoc" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="Fechatransaccion" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="Horatransaccion" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="Pos_id" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WSCDCen.ExecuteResponse">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="O_nombrecompleto" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_nrodocumento" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_saldopuntos" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_puntosvencidos" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagtarjetaerrada" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagdatoserrados" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagnrodocerrado" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagfechanacimientoerrada" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagemailerrado" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagtelefonoerrado" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagdireccionerrada" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flaganiversariobonus" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagonomastico" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_frecuenciavisita" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagsospechafraude" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_flagcomercioerrado" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_tarjetapadre" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_mensajeerror" type="xsd:string"/>
                        <element minOccurs="1" maxOccurs="1" name="O_error" type="xsd:byte"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="WSCDCen.ExecuteSoapIn">
        <part name="parameters" element="tns:WSCDCen.Execute"/>
    </message>
    <message name="WSCDCen.ExecuteSoapOut">
        <part name="parameters" element="tns:WSCDCen.ExecuteResponse"/>
    </message>
    <portType name="WSCDCenSoapPort">
        <operation name="Execute">
            <input message="wsdlns:WSCDCen.ExecuteSoapIn"/>
            <output message="wsdlns:WSCDCen.ExecuteSoapOut"/>
        </operation>
    </portType>
    <binding name="WSCDCenSoapBinding" type="wsdlns:WSCDCenSoapPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Execute">
            <soap:operation soapAction="AppBonusaction/AWSCDCEN.Execute"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WSCDCen">
        <port name="WSCDCenSoapPort" binding="wsdlns:WSCDCenSoapBinding">
            <soap:address location="http://172.29.47.245:8080/cencosud_des/servlet/awscdcen"/>
        </port>
    </service>
</definitions>